html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: #302F31;
    padding: 10px;
}

form{
    margin: 15px 0;
}

#´chat´{
    border: 1px solid;
    text-align: center;
}

form input[type='text']{
    border: 2px solid #45c5bf;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
}

form input[type='submit']{
    background: #45c5bf;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 5px;
    /* width: 19%; */
}

#messages_history, #guideline{
    background: #FFF;
    border:2px solid #45C5BF;
    height: 550px;
    float:left;
    margin-bottom: 10px;
    width:75%;
}

#messages_history .system{
    background-color: #45C5BF;
    color: #FFF;
    font-weight: bold;
}

#messages_history .private{
    background-color: #CCC;
    color: #000;
    font-weight: bold;
}

#chat_room{
    display: none;
}

#user_access{
    height:30px;
    left:50%;
    margin-left:-160px;
    margin-top:-15px;
    position: fixed;
    top:50%;
    width:320px;
}

#user_access form{
    margin:0;
}

#messages_history{
    border-right: 0;
}
#guideline{
border-left: 1px solid #45C5BF;
    height: 554px;
    width: 20%;
}
